#flotTip {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.2));
  border: 1px solid #e5e5e5;
}

.choices {
  display:none;
}

.homepage-performance-chart .legend {
  position: absolute !important;
  top: -60px !important;
  right: 0px !important;
  width: 200px !important;

  .legendColorBox > div{
    border: none !important;
    padding: 1px !important;
    border-radius: 10px !important;
    margin-right: 10px !important;
  }
}