
<!--    <div class="title"><h5>Statistics</h5>
               <i class="mdi-content-clear"></i>
               <a class="minimize" href="#"><i class="mdi-navigation-expand-less"></i></a></div>-->
   
        <md-content class="md-content--danger">

          <div class="small-box-icon text-center">
              <!--<a href="#/sensor/{{sensor.id}}"></a>-->


            <div class="pull-left">
                <span data-sparkline
                      data-spark-data="simpleChart2danger.sparkData"
                      data-spark-options="simpleChart2danger.sparkOptions"
                        ></span>
            </div>
            <div class="pull-right text-right">
              <strong class="color-danger">90% </strong>
              <md-icon class="color-danger" md-svg-src="dist/img/icons/ic_access_alarms_24px.svg"></md-icon>
              <p>
                Critical issues

              </p>
            </div>
          </div>
        </md-content>
    	
   