<section ng-show="visible">

<md-toolbar class="md-accent" style="margin-top:10px;box-shadow:none;background-color:white;border-bottom:1px solid rgb(200, 200, 200)">
    <div class="md-toolbar-tools" style="
    padding-right: 5px;
" ng-click="toggleContent()">
<div style="width:100%" ng-click="toggleContent()">
     <span class="title" style="color:black">
         {{title}}

     </span>
    <!-- Single button -->


         <md-icon style="cursor:pointer;color:black;margin-right:4px;float:right"  class="fa fa-times " alt="android" ng-click="visible=false"></md-icon>

         <md-icon style="cursor:pointer;color:black;margin-right:4px;float:right" class="expand glyphicon glyphicon-chevron-up " ng-click="toggleContent()"></md-icon>

    <md-icon style="cursor:pointer;color:black;margin-right:4px;float:right"  class="fa fa-cog" alt="android" ng-click="open()"></md-icon>

    <md-icon style="cursor:pointer;color:black;margin-right:4px;float:right" data-toggle="dropdown"  class="fa fa-bars" alt="android" ></md-icon>
    <md-icon style="cursor:pointer;color:black;margin-right:4px;float:right"  class="fa fa-arrows drag" alt="android" ng-click="visible=false"></md-icon>

    <ul class="dropdown-menu" role="menu">
        <li><a href="{{link}}">Sensor Details</a></li>
        <!--<li><a href="#">Another action</a></li>-->
        <li class="divider"></li>
    </ul>


    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            if this then that
            Selected: <b>{{ selected.item }}</b>
            <button class="btn btn-primary"></button>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
    </div>
</md-toolbar>
<md-card class='card' style="
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px">
    <div  collapse="isCollapsed" ng-transclude></div>
</md-card>

</section>