
$color--primary: #00838F;
$color--text: #757575;

$color--gray-light: #dedede;
$color--gray-dark: #333;
$color--breadcrumbs: #EAEAEA;
$color--background: #F5F5F5;
$color--brown: #503f3c;

$color--success: #43A047;
$color--info: #619bf2;
$color--warning: #F2B53F;
$color--danger: #aa3d2a;
$color--info-alt: #a31356;