<!-- Breadcrumbs -->
<div class="region-breadcrumbs">
    <ol class="ab-nav breadcrumb">
        <li><a href="/#/"><i class="fa fa-home"></i></a></li>
        <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
            <a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
            <span ng-if="$last" ng-bind="breadcrumb.label"></span>
        </li>
    </ol>
</div>


<div class="container" style="margin-top:20px">
<div class="row">

    <h4>Sensor Details</h4>
    <div class="col-md-12">
      
        <div class="panel panel-default" style="max-height:150px;overflow-y: scroll">
            <!--<div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Table</strong></div>-->

            <section class="md-content-section">

                <md-content>
                    <div class="md-content__body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr class="selectable">
                                <th>Index</th>
                                <th>Sensor</th>
                                <th>Status</th>
                                <th>TimeStamp</th>
                                <th>Value</th>

                                    <th>Battery volts</th>
                                    <th>Battery Level</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="sensor in sensorsTemp " ng-click="" class="selectable">
                                    <td>{{$index+1}}</td>
                                    <!-- TODO change this to -->
                                    <td>Sensor ID:{{sensorId}} </td>
                                    <td><span class="label label-info">{{sensor.status}}LIVE</span></td>
                                    <td>{{sensor.insertedOn |date:'medium'}}</td>
                                    <!--<td><span class="color-success"><i class="fa fa-level-up"></i></span> change %</td>-->
                                    <td>{{sensor.value}}</td>
                                    <td>{{battVolts}}</td>
                                    <!--<td>{{battLevel}}</td>-->
                                    <!--<td>%<i class="icon-f-battery-full" style="position:absolute"></i></td>-->
                                    <td><progressbar class="progressbar-s no-margin progress-bar-success" value="battLevel">{{battLevel}}%</progressbar></td>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </md-content>

            </section>

        </div>
        </zippy>

    </div>
</div>



    <div class="row">


        <div class="col-md-12">

            <!--    <zippy>-->
            <!--<div flot-line-chart>-->

            <!--</div>-->
            <!--    </zippy>-->
        </div>
    </div>
    <select ng-model="select">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="100">100</option>
        <option value="500">500</option>
    </select>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
   
</div>

<div id="container"></div>
<script>


</script>



