<!-- Breadcrumbs -->
<div class="region-breadcrumbs">
    <ol class="breadcrumb">
        <li ><a href="/#"><i class="fa fa-home"></i></a></li>
        <li class="active">Dashboard</li>
    </ol>
</div>
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
<div class="container" style="margin-top:20px">
<div class="row">
    <h4>Sensor Details</h4>
    <div class="col-md-8">
        <zippy>
        <div class="panel panel-default">
            <!--<div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Table</strong></div>-->

            <section class="md-content-section">

                <md-content>
                    <div class="md-content__body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <!--<tr class="selectable">-->
                                <!--<th>TimeStamp</th>-->
                                <!--<th>Sensor</th>-->
                                <!--<th>Status</th>-->
                                <!--<th>Location</th>-->
                                <!--<th>Completion %</th>-->
                                <!--</tr>-->
                                </thead>
                                <tbody>
                                <tr ng-repeat="sensor in sensorDetails" ng-click="" class="selectable">
                                    <td><a href="#/sensor/{{sensor.id}}">{{sensor.id}}</a></td>
                                    <td>{{sensor.property1}} TWLT</td>
                                    <td><span class="label label-info">{{sensor.status}}</span></td>
                                    <td>time of measurement</td>
                                    <td><span class="color-success"><i class="fa fa-level-up"></i></span> change %</td>
                                    <td>value</td>
                                    <td>battery level<i class="icon-f-battery-full" style="position:absolute"></i></td>
                                    <td><progressbar class="progressbar-xs no-margin" value="55"></progressbar>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </md-content>

            </section>

        </div>
        </zippy>

    </div>
</div>



    <div class="row">


        <div class="col-md-12">

            <!--    <zippy>-->
            <!--<div flot-line-chart>-->

            <!--</div>-->
            <!--    </zippy>-->
        </div>
    </div>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    


    <script>


                $(function () {
            $('#container').highcharts({
                title: {
                    text: 'Monthly Average Temperature',
                    x: -20 //center
                },
                subtitle: {
                    text: 'Source: Temp sensor Id 12',
                    x: -20
                },
                xAxis: {
                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                        'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                },
                yAxis: {
                    title: {
                        text: 'Temperature (°C)'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: '°C'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [ {
                    name: 'Sensor ID 12',
                    data: [27, 25, 26, 28, 25.4, 26.8, 24.8, 24.1, 20.1, 28.78,27,75]
                }]
            });
        });

    </script>

    <!--<div class="row">-->
        <!--<div class="page page-charts" data-ng-controller="morrisChartCtrl">-->

            <!--<section data-ng-controller="chartjsCtrl">-->

                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->

                        <!--<section class="md-content-section">-->
                            <!--<md-toolbar class="md-accent">-->
                                <!--<div class="md-toolbar-tools">-->
                                    <!--Line Chart js-->
                                <!--</div>-->
                            <!--</md-toolbar>-->

                            <!--<md-content>-->
                                <!--<div class="md-content__body">-->
                                    <!--<chart class="chartjs" data-data="chartjsLine" data-type="Line" value="myChart"></chart>-->
                                <!--</div>-->
                            <!--</md-content>-->

                        <!--</section>-->
                    <!--</div>-->

                    <!--<div class="col-md-6">-->

                        <!--<section class="md-content-section">-->
                            <!--<md-toolbar class="md-accent">-->
                                <!--<div class="md-toolbar-tools">-->
                                    <!--Bar Chart js-->
                                <!--</div>-->
                            <!--</md-toolbar>-->

                            <!--<md-content>-->
                                <!--<div class="md-content__body">-->
                                    <!--<chart class="chartjs" data-data="chartjsBar" data-type="Bar" value="myChart"></chart>-->
                                <!--</div>-->
                            <!--</md-content>-->

                        <!--</section>-->
                    <!--</div>-->
                <!--</div>-->
    <!--</div>-->
