<!-- Breadcrumbs -->
<div class="region-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="/#"><i class="fa fa-home"></i></a></li>
        <li class="active">Dashboard</li>
        <li ng-repeat="bread in breads">{{page}}</li>
    </ol>
</div>
<div
     style="background:url('app/views/sensors/views/wxbkb_default_clear_day_1_mezz_light%20.jpg');background-size: cover;padding:20px;">
    <div class="row ">
        <div class="col-md-6">
            <zippy>
                <md-content>
                    <div class="md-content__body">
                        <map class="ui-map" zoom="15" center="[38.031619, 23.866715]" scrollwheel="false">
                            <!--<marker position="[, ]" title="marker" animation="Animation.DROP"></marker>-->
                            <marker position="[37.979918, 23.726172]" title="drag me" draggable="true"></marker>
                        </map>
                    </div>
                </md-content>
                </section>
            </zippy>
        </div>
        <div class="col-md-6">
            <section data-ng-controller="sparklineCtrl">
                <div class="row sortable">
                    <div class="col-md-6">
                        <temp-widget></temp-widget>
                    </div>
                    <div class="col-md-6">
                        <zippy title="sparkdanger">
                            <div spark-danger></div>

                            <div soil-temperature-widget></div>
                            <div rainmeter-widget></div>
                        </zippy>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                    <div wind-widget></div>
                        </div>
                </div>
                <div class="row sortable">
                    <div class="col-md-6">
                        <zippy>
                            <div spark-danger></div>
                        </zippy>
                    </div>
                    <div class="col-md-6">
                        <zippy>
                            <div spark-danger></div>
                        </zippy>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row sortable">
        <div class="col-md-7">
            <zippy title="RealTimeSensors">
                <section class="md-content-section">
                    <md-content>
                        <div class="md-content__body">
                            <div data-ng-controller="flotChartCtrl.realtime">
                                <div data-flot-chart-realtime
                                         data-type="realtime"
                                         style="width: 100%; height: 300px;">
                                </div>
                                </div>
                            </div>
                        </md-content>
                    </section>
                </zippy>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <zippy>
                    <div sensor-list></div>
                </zippy>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.sortable').each(function () {
            var options = {
                group: 'widgets'
            }

            // if widget has title - use it for dragplace
            if ($(this).find('.title')[0]) {
                options.handle = ".title"
            }

            Sortable.create(this, options);
        });
    })

</script>