
<zippy title="RainFall" visible="true" link="#/sensor/rain/{{sensor.id}}">
    <md-content style="padding:10px;min-height:260px;border-bottom: 1px solid rgb(219, 215, 215);">
        <!--<a style="pull-right" href="#/sensor/rain/{{sensor.id}}">{{sensor.id}} Sensor ID </a>-->
        <p><i class="pull-right wi wi-sprinkles text-large"> </i>
            <strong  style="font-size:x-large">{{sensor.rain || "--" }} </strong><sup>in</sup>
            <br>  
            7 day total: 0.00 </strong><sup>in</sup>
            <br>min: {{min}}
            <br>max: {{max}}
            <br>
            Weekly change:
    <svg xmlns="http://www.w3.org/2000/svg"   height="24" style="position:absolute;width:20px;fill:cornflowerblue" viewBox="0 0 24 24">
            <path d="M7 14l5-5 5 5z"/>
            <path d="M0 0h24v24h-24z" fill="none"/>
        </svg>
        </p>
         <div class=" text-center card-content">
         <span data-sparkline
                      data-spark-data="simpleChart2danger.sparkData"
                      data-spark-options="simpleChart2danger.sparkOptions"
                        ></span>
                        </div>


    </md-content>
</zippy>


