<div class="row">
<div class="col-md-3">


<div spark-danger >
    
</div>
    
</div>

</div>
<div class="row">
    <div class="col-md-3">
        <div spark-test>

        </div>
    </div>
</div>
<div sensors-list>

</div>
<div class="row">
<zippy title="realtimechart">
     <section class="md-content-section">
    <md-content>
      <div class="md-content__body">

        <div data-ng-controller="flotChartCtrl.realtime">
          <div data-flot-chart-realtime
               data-type="realtime"
               style="width: 100%; height: 300px;"
                  ></div>
        </div>

      </div>
    </md-content>

  </section>
</zippy>
</div>
<md-button>
sdsd
</md-button>



